@media (max-width: 800px) {
 
.show-grid {
    grid-template-columns: 1fr;
    grid-column: 1;
}

div.contact-form {
    grid-column: 1;
}

.tabela {
    overflow: auto;
}

div.gridimg {
    grid-template-columns: 1fr;
    grid-column: 1;
}

.menu {
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.menu-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

img.menuimg {
    position: absolute;
    top: 15rem;
}

.menu div h1 span {
    padding: 0;
    padding-bottom: 4rem;
}

.menu-content nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
}

.close-menu:checked~.menu {
    display: flex;
}

.close-menu:checked~.close-menu-label::after {
   content: '✕';
}

div.menuspacing {
    display: none;
}

}